@import "tailwindcss";
@tailwind utilities;

/* Główny plik z zmiennymi związanymi z kolorami, chcemy go żeby mieć najważniejesze kolory, przejścia, itd mieć w jednym miejscu */
@theme {
  --font-display: "Inter";
  --breakpoint-3xl: 120rem;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  
  /* Palette kolorów - podstawowe kolory */
  --colors-text: #ffffff;
  --colors-background: #000000;
  --colors-primary: #57c785;
  --colors-secondary: #2b7c9c;
  --colors-accent: #edde54;
  
  /* Możesz też zdefiniować jako zmienne CSS */
  --color-primary: var(--colors-primary);
  --color-secondary: var(--colors-secondary);
  --color-accent: var(--colors-accent);
  --color-text: var(--colors-text);

  --font-size-sm: 0.750rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.333rem;
  --font-size-2xl: 1.777rem;
  --font-size-3xl: 2.369rem;
  --font-size-4xl: 3.158rem;
  --font-size-5xl: 4.210rem;

  /* Rodziny czcionek */
  --font-family-heading: "Inter", sans-serif;
  --font-family-body: "Inter", sans-serif;

  /* Grubości czcionek */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  
}

:root{
  height: 100%;
  height: 100%;
}

#navbar{
  height: 100px;
  width: 100%;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
